<head>
    <title>Pi 5 Server</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>

<body>
    <h1>Robot Calibration</h1>
    
    <div id="calibrate-start" class="box">
        <button id="calibrate-button" onclick="calibrateNext()">Start Calibration</button>
        <h2 id="output-label"></h2>
        <canvas id="output-graph" style="width:100%; max-width:700px"></canvas>
    </div>
    
    <div class="box">
        <p id="radius-label">Radius: </p>
        <p id="distance-label">Estimated Distance: </p>
    </div>
    
    <div class="box">
        <p id="factor-label">Factor: </p>
        <input id="factor-slider" type="range" min=1 max=5000 value=2440 />
    </div>
    
    <div id="calibration" class="box">
        <button onclick="calibrateNext()">Next</button>
        <h2 id="calibrate-label"></h2>
    </div>

    <div class="box">
        <button onclick="showPreview()">Show Preview</button>
        <img id="preview" src="" alt="Preview"/>
    </div>

    <script type="text/javascript">
        var radius = 0;
        
        let radiusLabel = document.getElementById("radius-label");
        let distanceLabel = document.getElementById("distance-label");
        let factorLabel = document.getElementById("factor-label");
        let factorSlider = document.getElementById("factor-slider");
        
        let calibrateStart = document.getElementById("calibrate-start");
        let outputLabel = document.getElementById("output-label");
        //let outputGraph = document.getElementById("output-graph");
        let calibration = document.getElementById("calibration");
        let calibrateLabel = document.getElementById("calibrate-label");
        let preview = document.getElementById("preview");
        
        
        factor = 2440;
        factorLabel.innerHTML = `Factor: ${factor}`;
        factorSlider.addEventListener("input", () => {
            factor = factorSlider.value;
            factorLabel.innerHTML = `Factor: ${factor}`;
        });
        
        steps = [];
        step = 0;
        
        function calibrateNext() {
            if (step === 0) {
                calibrateStart.style.display = "none";
                calibration.style.display = "flex";
            } else
                steps.push({x: step, y: radius});

            step += 10;
            
            if (step > 60) {
                outputLabel.innerHTML = steps.map(point => point.x + " " + point.y).join("<br>");
                graph = new Chart("output-graph", {
                    type: "scatter",
                    data: {
                        datasets: [{
                            pointRadius: 4,
                            pointBackgroundColor: "rgba(0, 0, 255, 1)",
                            data: steps
                        }]
                    }
                });
                
                calibrateStart.style = "";
                calibration.style = "";
                calibrateLabel.innerHTML = "";
                steps = [];
                step = 0;
            } else
                calibrateLabel.innerHTML = `Place the ball ${step}cm away from the camera.`;
        }

        function showPreview() {
            fetch("/preview", {
                method: "POST",
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
                })
                .then(response => response.json())
                .then(data => {
                    preview.src = data.preview;
                })
                .catch(error => {return 0;});
        }

        function update() {
            fetch("/radius", {
                method: "POST",
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
                })
                .then(response => response.json())
                .then(data => {
                    radiusLabel.innerHTML = `Radius: ${data.radius}`;
                    radius = data.radius;
                    
                    distanceLabel.innerHTML = `Estimated Distance: ${factor / radius}`;
                })
                .catch(error => {return 0;});

            setTimeout("update();", 1000);
        }

        update();
    </script>
</body>
