body {
    display: flex;
    flex-direction: column;
    background: #1a1a1a;
}

.main-body {
    width: 100%;
    max-width: 100rem;
    display: flex;
    flex-direction: column;
    margin: auto;
}

div.box {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background: #2d2d2d;
    padding: 0.5rem;
    border: 1px solid #676767;
    margin: 1rem;
}

p, h1, h2 {
    color: #fff;
}

button {
    height: 3rem;
    width: 5rem;
    margin: 1rem;
    background: #303643;
    color: white;
    border-radius: 0.5rem;
}

#calibration-dist, #calibration-angle {
    display: none;
}

#preview-frame, #measurements {
    display: none;
    flex-direction: column;
}

.calibration-frames {
    display: flex;
    width: 100%;
}

.calibration-frame {
    width: 50%;
}

#color-select {
    width: 1.5rem;
    margin: 0.5rem;
}

#preview {
    display: none;
}
